@import url("https://fonts.googleapis.com/css2?family=Ballet&display=swap");
html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Ballet", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Ballet", cursive;
}
